A.nav:LINK {color: white; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.nav:VISITED {color: white; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.nav:HOVER	{color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline}

A.navnorm:LINK {color: white; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnorm:VISITED {color: white; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnorm:HOVER	{color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; text-decoration:underline}

A.navlarge:link {color: white; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlarge:visited {color: white; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlarge:hover {color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; text-decoration:underline; }


A.navside:link {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navside:visited {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt;; font-weight: bold; text-decoration: none}
A.navside:hover {color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline; }

A.navsidehead:link {color: #993333; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navsidehead:visited {color: #993333; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navsidehead:hover {color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; text-decoration:underline; }


A.navgrey:link {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navgrey:visited {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navgrey:hover {color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline; }

A.navnormgrey:link {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormgrey:visited {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormgrey:hover {color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; text-decoration:underline; }

A.navlargegrey:link {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargegrey:visited {color: #666666; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargegrey:hover {color:blue; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; text-decoration:underline; }


A.navgrn:LINK {color: #006600; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navgrn:VISITED {color: #006600; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navgrn:HOVER	{color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline}

A.navnormgrn:link {color: #006600; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormgrn:visited {color: #006600; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormgrn:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; text-decoration:underline; }

A.navlargegrn:link {color: #006600; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargegrn:visited {color: #006600; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargegrn:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; text-decoration:underline; }



A.navyel:LINK {color: #ff9900; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navyel:VISITED {color: #ff9900; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navyel:HOVER	{color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline}

A.navnormyel:link {color: #ff9900; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormyel:visited {color: #ff9900; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormyel:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; text-decoration:underline; }

A.navlargeyel:link {color: #ff9900; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargeyel:visited {color: #ff9900; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargeyel:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; text-decoration:underline; }


A.navbyel:LINK {color: yellow; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navbyel:VISITED {color: yellow; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navbyel:HOVER	{color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline}

A.navnormbyel:link {color: yellow; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormbyel:visited {color: yellow; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormbyel:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; text-decoration:underline; }

A.navlargebyel:link {color: yellow; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargebyel:visited {color: yellow; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargebyel:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; text-decoration:underline; }


A.navbrn:LINK {color: #CC9933; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navbrn:VISITED {color: #CC9933; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navbrn:HOVER	{color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline}

A.navnormbrn:link {color: #CC9933; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormbrn:visited {color: #CC9933; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; font-weight: bold; text-decoration: none}
A.navnormbrn:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 10pt; text-decoration:underline; }

A.navlargebrn:link {color: #CC9933; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargebrn:visited {color: #CC9933; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; font-weight: bold; text-decoration: none}
A.navlargebrn:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 14pt; text-decoration:underline; }


A.navsheaves:LINK {color: #403010; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navsheaves:VISITED {color: #403010; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; font-weight: bold; text-decoration: none}
A.navsheaves:HOVER	{color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 9pt; text-decoration:underline}

A.navnormsheaves:link {color: #403010; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 12pt; font-weight: bold; text-decoration: none}
A.navnormsheaves:visited {color: #403010; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 12pt; font-weight: bold; text-decoration: none}
A.navnormsheaves:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 12pt; text-decoration:underline; }

A.navlargesheaves:link {color: #403010; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 18pt; font-weight: bold; text-decoration: none}
A.navlargesheaves:visited {color: #403010; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 18pt; font-weight: bold; text-decoration: none}
A.navlargesheaves:hover {color:red; font-family: 'Times New Roman', Times, Serif; font-stretch: condensed; font-size: 18pt; text-decoration:underline; }


A.navcallapp:LINK {color: blue; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 8pt; font-weight: bold; text-decoration: none}
A.navcallapp:VISITED {color: blue; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 8pt; font-weight: bold; text-decoration: none}
A.navcallapp:HOVER	{color:red; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 8pt; text-decoration:underline}

A.navnormcallapp:link {color: blue; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 12pt; font-weight: bold; text-decoration: none}
A.navnormcallapp:visited {color: blueF; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 12pt; font-weight: bold; text-decoration: none}
A.navnormcallapp:hover {color:red; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 12pt; text-decoration:underline; }

A.navlargecallapp:link {color: blue; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 16pt; font-weight: bold; text-decoration: none}
A.navlargecallapp:visited {color: blue; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 16pt; font-weight: bold; text-decoration: none}
A.navlargecallapp:hover {color:red; font-family: 'Helvetica', Sans-Serif; font-stretch: condensed; font-size: 16pt; text-decoration:underline; }










A.navnull:LINK {text-decoration: none}
A.navnull:VISITED {text-decoration: none}
A.navnull:HOVER	{text-decoration: none}

